###########   BASE   ###########
base.url = http://localhost:8080/

########### DATABASE ###########
database.hostname = host
database.database = database
database.username = user
database.password = pass